body{
         width:60%;
          margin:auto;
}


h1,h2{
         height:10px;
}

#mainmenu{
              text-align:right;
               background-color: chocolate;
               margin-top:20p;
               padding: 10px;
               color: white;
               font-weight: bold;
}

#mainimage{
               width:100%;
}

#latestnews{
              width:40%;
              height: 300px;
              float: left;
}

#aboutus{
               width:58%;
                height:100px;
                float:right;
}

#latestnewshead{
               background-color: darkred;
                color:white;
                padding:10px;
                 margin-bottom:0px;
}

#aboutushead{
                 background-color: slateblue;
                  padding: 10px;
                   color:white;
                   margin-bottom:0px;
}

#marqueestyle{
                 background-color:#FFEBCD;
                 padding:10px;
                 height: 100px;
}
#aboutusdesc{
               background-color:beige;
               padding:10px;
               text-align:justify;
}
